node_modules/
dist/
artifacts/
cache/
typechain-types/
coverage/
coverage.json
.env
.env.local
.DS_Store
*.log

frontend/.next/
frontend/out/
frontend/node_modules/

subgraph/build/
subgraph/generated/
subgraph/node_modules/
frontend/tsconfig.tsbuildinfo
